.email-management .is-placeholder {
	.gsuite-user-item__email,
	button {
		@include placeholder();
	}
}

.email-management {
	.gsuite-user-item__email {
		align-items: center;
		display: flex;
		flex-grow: 1;

		.badge {
			margin-left: 5px;
		}
	}

	.gsuite-user-item__actions {
		display: flex;
		font-size: $font-body-small;

		a:not(:first-child) {
			margin-left: 15px;
		}
	}
}
